@using PagedList.Mvc;
@model PagedList.IPagedList<WEB_CRUD.Models.Reporte>

@{
    ViewBag.Title = "Index";
}

<link rel="stylesheet" href="~/Content/css/principal.css" type="text/css" />

<h2>Reporte</h2>
<br />


@using (Html.BeginForm("ExportToExcel", "Reporte", FormMethod.Get))
{
    <input type="submit" value="Exportar a excel" class="button" />
}
<br />
<table class="table">
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaRegistroEmpresa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RazonSocial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RFC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sucursal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RFC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdEmpleado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Paterno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Materno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdViaje)
            </td>
        </tr>

    }

</table>

<br />
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Index",
        new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
    <br />
    <div>
        @Html.ActionLink("Volver a la lista principal", "Index", "PersonasFisicas")
    </div>